@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* إعدادات الـ Scrollbar المخصصة عشان اللوحة تطلع شيك */
  .custom-scrollbar::-webkit-scrollbar {
    width: 5px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #0ea5e9;
    border-radius: 10px;
  }
}
